{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<section class="home" style="background-image:url(https://kde.org/announcements/plasma/5/5.21.0/mk.webp);background-size:cover;color:#fff">
  <div class="container align-items-center screen-height">
    <div>
      <h2 class="h1 mt-5 mt-md-0">{{ i18n "plasma-on-your-tv" }}</h2>
      <h3>{{ i18n "privacy" }}</h3>
    </div>
  </div>
</section>

<section class="openup">
  <div class="container my-5">
    <img class="img-fluid mx-auto" src="/img/triangles.png" alt="triangles" width="224" height="128" />
    <h2 class="h1 mb-4">{{ i18n "openup" }}</h2>
    <p>{{ i18n "opensource-phone" }}</p>
    <p class="my-4">
    <a href="/get/" class="button">{{ i18n "install" }}</a>
    <a href="/findyourway/" class="button">{{ i18n "contribute" }}</a>
    </p>
    <p>{{ i18n "qt-kf" }}</p>
    <div class="laptop-with-overlay mt-5 mb-3 mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
          <img class="img-fluid" src="https://kde.org/announcements/plasma/5/5.21.0/plasma-dark.webp" alt="Plasma Desktop">
      </div>
    </div>
  </div>
</section>

<section class="features-section">
  <div class="container">
    <div class="feature wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2>{{ i18n "kwin" }}</h2>
        <p>{{ i18n "wayland" }}</p>
      </div>
      <div>
        <img class="alignnone adapting mr-0 mr-md-5 my-4 my-md-0 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
      </div>
    </div>
    <hr />
    <div class="feature opensource flex-column flex-md-row">
      <div>
        <h2>{{ i18n "opensource" }}</h2>
        <p class="mr-0 mr-md-5">{{ i18n "parts" | markdownify }}</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
	  <li><a href="https://mycroft.ai/" target="_blank">MyCroft</a></li>
	  <li><a href="http://libcec.pulse-eight.com/" target="_blank">CEC</a></li>
        </ul>
      </div>
      <div>
	<!-- Some TV image here -->
      </div>
    </div>
    <div class="feature mb-0 d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2>{{ i18n "adapting" }}</h2>
        <p>{{ i18n "based" }}
      </div>
      <div>
	<!-- Some TV image here -->
      </div>
    </div>
  </div>
</section>
{{ end }}
